[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
falcon-oas = {editable = true, extras = ["format", "test"], path = "."}

[requires]
python_version = "3.8"
