name: CI

on:
  pull_request:
  push:
    branches:

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '2.7'
          - '3.7'
          - '3.8'
          - '3.9.0-rc.1 - 3.9'

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Ensure pip is up to date
        run: |
          python -m pip install --upgrade pip

      - name: Lint
        run: |
          python -m pip install pre-commit
          pre-commit run --all-files
        if: matrix.python-version == '3.8'

      - name: Test
        run: |
          python -m pip install tox
          tox -e py -- --cov-report=xml

      - uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
